<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ePortal.MailService.AppSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="ePortal.MailService.MailService" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <ePortal.MailService.AppSetting>
      <setting name="Conn" serializeAs="String">
        <value>server=192.168.9.20;database=WVI_WebPortal;uid=sa;pwd=23096199</value>
      </setting>
      <setting name="Interval" serializeAs="String">
        <value>1</value>
      </setting>
    </ePortal.MailService.AppSetting>
  </userSettings>
  <connectionStrings>
    <add name="MailServiceContainer" connectionString="metadata=res://*/Model.MailService.csdl|res://*/Model.MailService.ssdl|res://*/Model.MailService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.9.20;initial catalog=WVI_WebPortal;persist security info=True;user id=sa;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8733/MailService/metadata" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="ePortal.MailService.Service.MailServiceHost">
        <endpoint address="http://127.0.0.1:8733/MailService/" binding="wsHttpBinding"
          name="MailServiceEndpoint" contract="ePortal.MailService.Service.IMailService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>