<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MailServiceEndpoint" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8733/MailService/" binding="wsHttpBinding"
                bindingConfiguration="MailServiceEndpoint" contract="MailService.MailService"
                name="MailServiceEndpoint">
                <identity>
                    <servicePrincipalName value="host/earo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>